.btn__primary {
  text-decoration: none;
  color: $color-primary;
  font-family: "atkinsonregular";
  font-size: 1.7rem;
  padding: 1rem 0.7rem;
  border: 3px solid $color-primary;
  border-radius: 1.6rem;
  transition: all 0.5s;

  &:hover {
    background-color: $color-primary;
    color: white;
  }
  @include screen-max(320px) {
    font-size: 1.2rem;
  }
  @include screen-min(768px) {
    font-size: 2rem;
  }
  @include screen-min(1920px) {
    font-size: 2.5rem;
    border: 4px solid $color-primary;
    padding: 1.7rem 1rem;
  }
}

.btn__secondary {
  text-decoration: none;
  font-size: 1.7rem;
  color: $color-primary;
  font-family: "atkinsonregular";
  @include screen-max(320px) {
    font-size: 1.2rem;
  }
  @include screen-min(768px) {
    font-size: 2rem;
  }

  @include screen-min(1920px) {
    font-size: 2.5rem;
  }
}
