@font-face {
  font-family: "AtkinsonBold";
  src: url("/assets/font/TTF/Atkinson-Hyperlegible-Bold-102.ttf");
}
@font-face {
  font-family: "AtkinsonRegular";
  src: url("/assets/font/TTF/Atkinson-Hyperlegible-Regular-102.ttf");
}

//HEADING//
.heading__primary {
  font-size: 6rem;
  font-family: "atkinsonbold", sans-serif;
  font-weight: 100;
  color: $color-primary;
  @include screen-max(320px) {
    font-size: 5rem;
  }
  @include screen-max-land(411px) {
    font-size: 4rem;
  }
}
.heading__secondary {
  font-size: 3rem;
  font-family: "atkinsonbold", sans-serif;
  font-weight: 100;
  color: $color-primary;
  @include screen-max(320px) {
    font-size: 2.5rem;
  }
  @include screen-min(768px) {
    font-size: 4rem;
  }
  @include screen-min(1920px) {
    font-size: 5rem;
  }
  @include screen-max-land(411px) {
    font-size: 2rem;
  }
}
.heading__tertiary {
  font-family: "AtkinsonBold", Sans-serif;
  font-size: 2rem;
  letter-spacing: 1.8px;
  font-weight: 100;
  color: $color-primary;
}
.paragraph {
  font-family: "atkinsonregular", sans-serif;
  font-size: 1.7rem;
  font-weight: 100;
  color: $color-primary;
  @include screen-max(320px) {
    font-size: 1.7rem;
  }
  @include screen-min(768px) {
    font-size: 2rem;
  }
  @include screen-min(1920px) {
    font-size: 2.5rem;
  }
  @include screen-max-land(411px) {
    font-size: 1.5rem;
  }
}
