.about {
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  &__navbar {
    margin-top: 3rem;
    background-color: $color-thertiary;

    width: 100%;

    &-list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      font-family: "atkinsonbold";
      font-size: 2rem;
      padding: 1rem;
      @include screen-min(768px) {
        font-size: 3rem;
      }
      @include screen-min(1920px) {
        font-size: 3.7rem;
      }

      &-links {
        text-decoration: none;
        color: $color-primary;
        padding: 2rem;
        &:hover {
          color: $white;
          background-color: $color-primary;
        }
      }
    }
  }
  &__container {
    margin-top: 7rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    margin: 2rem 1rem;
    color: $color-primary;
    text-align: center;
  }

  &__heading-2 {
    margin: 2rem 1rem;
  }

  &__paragraph {
    text-align: justify;
    font-size: 2.7rem;

    @include screen-min(768px) {
      font-size: 3rem;
    }
    @include screen-min(1920px) {
      font-size: 3.7rem;
    }
  }
  &__link-s2i {
    text-decoration: none;
    color: $color-secondary;
    font-family: "AtkinsonRegular", Sans-serif;
    font-size: 2rem;
    @include screen-min(768px) {
      font-size: 3rem;
    }
    @include screen-min(1920px) {
      font-size: 3.7rem;
    }

    &:hover {
      background-color: $color-thertiary;
      color: $color-secondary;
      box-shadow: none;
    }
  }
}
